.reward-item {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #000000;
    padding: 8px 25px;
    border-radius: 10px;
    border: 1px solid #D0D0D8;
    margin: 4px 0;
    min-width: 240px;
}

.reward-item-current {
    color: #FF8B37;
    border: 1px solid #FF8B37;
}

.reward-item-done {
    color: #D0D0D8;
    border: 1px solid #D0D0D8;
}