.start-page-container {
    min-height: 100vh;
    background: linear-gradient(to right bottom, #ffffff 50%, #fff3eb 50%);
}

.game-start-text {
    font-size: 56px;
    font-style: normal;
    font-weight: 600;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 624px;
}

.start-game-button {
    margin-top: 64px;
}

.start-text-and-button {
    margin-left: 119px;
}