.game-page-container {
    min-height: 100vh;
    background: #F5F5F7;
}

.question-tree {
    background: #FFFFFF;
    min-height: 100vh;
    min-width: 367px;
}

.question {
    min-height: 100vh;
    padding: 133px 80px 122px 80px;
    justify-content: space-between;
}

.question-and-progress {
    width: -webkit-fill-available;
    flex-wrap: nowrap;
}

.question-text {
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 0em;
    text-align: left;
    color: #000000;
}

@media only screen and (max-width: 1200px) {
    .question {
        padding: 25px;
    }

    .question-text {
        text-align: center;
    }

    .answers-row {
        justify-content: center;
    }

    .question-text {
        font-size: 25px;
    }
}