body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

.start-game-icon {
  height: 367px;
}

.menu-icon {
  height: 20px;
  fill: #1C1C21;
}

/* Flex Blocks */
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.row-h {
  justify-content: center;
}

.row-v {
  align-items: center;
}

.row-between {
  justify-content: space-between;
}

.row-right {
  justify-content: flex-end;
}

.row-left {
  justify-content: flex-start;
}

.column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.column-h {
  align-items: center;
}

.column-v {
  justify-content: center;
}

@media only screen and (max-width: 490px) {
  .start-game-icon {
    height: 250px;
  }
}

@media only screen and (max-width: 350px) {
  .start-game-icon {
    height: 200px;
  }
}